
{% extends "base.html" %}

{% block content %}
<div class="row">
    <img src = https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1899087_720047128039552_1883435094_n.jpg?oh=b5c3fa14ef37b0f2553a4d1031099683&oe=52F7E3E7/>

<img src = https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1899087_720047128039552_1883435094_n.jpg?oh=b5c3fa14ef37b0f2553a4d1031099683&oe=52F7E3E7/>

<p align = "left"> Congratulations on taking the first step to making you college essay full proof! </p>
</div>
{% endblock content %}


